.navbar{
    padding-left:80px;
    padding-right: 80px;
}
.nav-item{
    padding-right: 50px;
    font-weight: bold;
}

.block{
    margin:150px 0px;
    align-items: center;
}
.innerblock{
    padding-top: 30px;
}

.btn{
    width: 200px;
    padding: 10px;
    font-weight: bold;
}